<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <header>
        <nav>
            <a href="{{ url('categories') }}">Categories</a>
            <a href="{{ url('products') }}">Products</a>
            <a href="{{ url('users') }}">Users</a>
            <a href="{{ url('favorites') }}">Favorites</a>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
