{% extends "base.html.twig" %}
{% block body %}
    <style>
        table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid #333;
            padding: 5px 10px;
        }
    </style>
    <table>
        <tr><th>Title</th><th>Price</th><th>created at</th></tr>
        {% for product in products %}
        <tr>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.createdAt | date("m/d/Y H:m:s")}}</td>
            <td><a href="{{ path('product', {'id': product.id}) }}">Details</a></td>
            <td><a href="{{ path('editProduct', {'id': product.id}) }}">Edit</a></td>
            {% if (user) %}
                {% if not (user.hasProduct(product)) %}
                <td><a href="{{ path('favoritesAddProduct', {'id': product.id}) }}">Add to favorites</a></td>
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% endblock %}
